<!doctype html>
<html lang="pt-br">

<head>
	<title> Bem vindo
	</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./assets/css/paper-kit.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="./assets/demo/demo.css" rel="stylesheet" />

</head>

<body>

<!-- Testando Colunas -->

<!-- Intervalo -->

<!-- Fim das Colunas-->
                        </ul>
                    </div>
                </div>
        </div>
    </div>

<!-- Scripts -->
<script type="text/javascript">
    var click = 0;
    function mouseOver() {
        document.b1.src ="excluir.gif"
    }
    function mouseClick() {
        document.b1.src ="pt.jpg"
        click = 1;
    }
    function mouseOut() {
        if(click==0)
            document.b1.src ="alterar.gif"



    </script>
</body>